.container{
margin-bottom: 20px;
}
.pagination{
display: block;
clear: both;
margin-left: 36%;
text-align: center;
}
.page-header {
    padding-bottom: 0px;
    margin: 20px 0 20px;
    border-bottom: 1px solid #eee;
}
.table-company-information > tbody > tr {
border-top: 1px solid rgb(221, 221, 221);
}
.table-company-information > tbody > tr:first-child {
border-top: 0;
}
.table-company-information > tbody > tr > td {
border-top: 0;
font-size: 13px;
text-transform: capitalize;
}
.table-company-information > tbody > tr:nth-child(odd){
background-color:#ebebeb ;
}
.table-company-information > tbody > tr:nth-child(even){
background-color:#fff;
}
.table-company-information > tbody > tr>td:nth-child(odd){
color: #000;
font-weight: bold;
width: 250px;
}
.toppad
{margin-top:20px;
}
.panel-info {
border-color: #bebebe;
min-height: 581px;
}
.panel-info>.panel-heading{
background-color: #222!important;
color: #fff;
}
label{
font-weight: normal;
font-size: 15px;
padding-right:15px ;
}
@media only screen and (max-width: 768px) {
.pagination{
margin-left: 20%;
}
}
